[2015-03-23 13:46] wendal opened #4 "fail to build luajit2 at Centos 5.x"
fail snice v2.1-20150120

cat /etc/issue

[code]

gcc -v

[code]

[code]

I add next 2 lines into lj_arch.h will compile success.

[code]

[2015-03-23 13:47] wendal commented on #4
uname -a

[code]

[2015-03-23 13:56] wendal commented on #4
so, ngx_openresty-1.7.7.2 and ngx_openresty-1.7.10.1 will fail to build at Centos 5.x

[2015-03-23 19:23] agentzh commented on #4
@wendal This was a known issue that has just been fixed recently :)

Please try out the following tarball on your side. Thank you!

http://openresty.org/download/ngx_openresty-1.7.10.2rc0.tar.gz

[2015-04-12 13:25] #4 closed

[2015-09-09 00:44] bungle opened #5 "Lua 5.2 Compability as Default"
Is there some particular reason for not to add:

[code]

by default in OpenResty / lua-resty-cli?

[2015-09-09 15:31] agentzh commented on #5
@bungle Since it introduces (minor) incompatible behaviours on the Lua land and it would be a bit hard to disable it from the command-line.

[2015-09-09 19:55] bungle commented on #5
Yes, that's a pity. Maybe it is just better to follow on what normal LuaJIT has as a default for better compability.

[2015-09-09 19:55] #5 closed

[2015-09-10 03:31] agentzh commented on #5
@bungle I understand. Maybe the (upcoming) official OpenResty binary packages (for those mainstream Linux distributions) can have this option turned on in their LuaJIT by default?

[2015-09-10 16:42] nikolay opened #6 "Should we use your version or LuaJIT-2.1.0-beta1?"
Just asking...

[2015-09-11 02:36] agentzh commented on #6
@nikolay The "agentzh-v2.1" branch of this repos provides the bundled version of LuaJIT in the OpenResty bundle. It's up to you to decide whether to use.

[2015-11-10 05:16] nikolay commented on #6
@agentzh I switched to using `v2.1-agentzh` branch, but should I know switch to the latest tag (such as `v2.1-20151028`) instead?

[2015-11-10 09:56] agentzh commented on #6
@nikolay Yes.

[2015-11-30 03:15] nikolay commented on #6
@agentzh Thanks!

[2016-03-21 10:47] nikolay commented on #6
@agentzh How about beta2?

[2016-03-21 17:37] agentzh commented on #6
@nikolay Haven't tested it.

[2016-03-22 01:28] nikolay commented on #6
@agentzh Okay, thanks!

[2016-04-29 07:24] mche opened #7 "resty modules not in seasrch path"
# HI!

I did compile openresty as: $ ./configure --prefix=$HOME/openresty; make install
Then run: $ ~/openresty/luajit/bin/luajit

\> local mysql = require "resty.mysql"

stdin:1: module 'resty.mysql' not found:
	no field package.preload['resty.mysql']
	no file './resty/mysql.lua'
	no file '/home/foo/openresty/luajit/share/luajit-2.1.0-beta1/resty/mysql.lua'
	no file '/usr/local/share/lua/5.1/rest

[2016-04-29 08:43] mche commented on #7
Oh, sorry

`attempt to index global 'ngx' (a nil value)`

Issue incorrect

[2016-04-29 20:51] agentzh commented on #7
@mche Because the `luajit` binary cannot run those lua-resty-* libraries in the first place because the official `luajit` does not have OpenResty's Lua API, for obvious reasons.

I think you should really invoke the `resty` command-line utility instead, which is under `{openresty-prefix}/bin/`. See

https://github.com/openresty/resty-cli

for more details.

[2016-05-03 13:37] mche commented on #7
thank you

[2016-05-03 13:37] #7 closed

[2016-05-16 06:06] #6 closed

[2016-06-02 03:48] qlee001 opened #8 "luajit and ffi went wrong in while block"
I develop a red-black tree base on luajit, but sometime could not found the minium node in the tree, The code behind would assert failed.
If add a line to the while block or use jit.off() to disable jit, it would work well.
[code]

OS: Ubuntu 16.04 or ArchLinux .
Code is Here, extra code is removed.

[code]

[2016-06-02 21:47] agentzh commented on #8
@qlee001 Could you report to the official LuaJIT repository instead? See

https://github.com/LuaJIT/LuaJIT

I can confirm that the official v2.1 branch also has this issue. Thanks!

[2016-06-03 01:18] qlee001 commented on #8
@agentzh Ok, thanks!

[2016-06-05 14:16] qlee001 commented on #8
Bug has been fixed. [Incorrect allocation sinking due to incomplete PHI remark](https://github.com/LuaJIT/LuaJIT/issues/189)

[2016-06-05 14:16] #8 closed

[2017-04-23 12:23] alonbg opened #10 "luajit v2.1-20170405 (openresty 1.11.2.3) - unexpected symbol near 'pragma'"
Reproduced on openresty_1.11.2.3/luajit/bin/luajit with https://github.com/luapower/blake2/blob/master/blake2.lua

blake2.lua:125: unexpected symbol near 'pragma' at line 14

**Does not** reproduce on openresty/luajit2 tag v2.1-20170405 without the `-msse4.2` compilation flags or [latest commit](https://github.com/openresty/luajit2/commit/9ccc8867b8e520906271ca36e954032054b07e33) excluded.

compil

[2017-04-23 12:34] alonbg commented on #10
minimal reproduction code:

[code]

[2017-04-23 17:20] agentzh commented on #10
@alonbg Have you tried out the latest `v2.1` branch of the official luajit git repository? I'm pretty sure we never touched that part of luajit in our branch.

[2017-04-23 17:26] alonbg commented on #10
Hi @agentzh , yes I tried the  latest v2.1 with the -msse4.2 flag - doesn't reproduce.

[2017-04-23 17:33] agentzh commented on #10
@alonbg Thanks for the report! I can reproduce it on my side.

@yangshuxin Will you please take a look at this? It seems that it is triggered by our `lj_str_new` optimizations. Thanks!

[2017-04-23 22:00] yangshuxin commented on #10
Turn out the string hash is hard-coded in parser.

{code}
1763 static void cp_decl_multi(CPState *cp)
1764 {
...
1779       } else if (tok == CTOK_IDENT &&
1780                  cp->str->hash == H_(187aab88,fcb60b42)) { /* line */
...
1791     }
{code}

[2017-04-25 07:17] yangshuxin commented on #10
A proposed fix patch is just sent to @agentzh, since I will going to travel this Wed morning. I wonder if @agentzh can take over this bug in case this is urgent.

[2017-05-28 18:39] yangshuxin commented on #10
I'm returning back, will make a PR ASAP.

[2017-06-01 23:20] agentzh commented on #10
@alonbg Will you try @yangshuxin's LuaJIT patch in #11 on your side? Thanks!

[2017-06-05 07:43] alonbg commented on #10
@agentzh - yes. I'll update ..

[2017-07-30 18:55] agentzh commented on #10
@alonbg I believe this is already fixed in the latest v2.1-agentzh branch. I'm closing this.

[2017-07-30 18:55] #10 closed

[2018-05-09 08:05] qleein opened #22 "Incorrect result for a special lua script, if jit enabled"
At begining, everything is OK, but after dozens of requests, I got wrong result。
If I disable the jit by jit.off(), it works well

Software Environment

[code]

nginx -V
[code]

nginx config file
[code]

file control.lua(a lua module)

[code]

visit nginx in ternimal

[code]

Corrent result as bellow
[code]

Incorrect result after visit nginx 34 times

[code]

nginx error log as bellow, after 34th

[2018-05-11 15:05] qleein commented on #22
Maybe it's bug in luajit, as discribed here. [https://github.com/LuaJIT/LuaJIT/issues/416](https://github.com/LuaJIT/LuaJIT/issues/416)

[2018-05-13 15:12] #22 closed, assigned to nobody

[2018-06-13 13:47] jirutka opened #23 "Document changes in this fork"
Please document changes made in this fork, i.e. how it differ from https://github.com/LuaJIT/LuaJIT.

[2018-06-13 20:48] #23 closed, assigned to nobody

[2018-06-13 20:49] agentzh commented on #23
@jirutka That's a good idea. Already listed the changes in README:

https://github.com/openresty/luajit2#readme

Thanks for the suggestion.

[2018-06-22 21:24] vielmetti opened #24 "47-bit address restriction, lightuserdata and arm64"
The mainline LuaJIT has a proposal to support enhancements to lightuserdata to handle the `arm64` architecture which has 48-bit addresses. The lengthy discussion is at https://github.com/LuaJIT/LuaJIT/issues/49 and there is a PR at https://github.com/LuaJIT/LuaJIT/pull/230 which is labelled "wontfix".

Is the OpenResty LuaJIT community amenable to reopening this issue? If so, I'm happy to address

[2018-06-22 21:33] agentzh commented on #24
@vielmetti Seems like you misread those threads? The LuaJIT author actually suggested avoiding lightuserdata instead of enhancing it.

Right now we have some corporate sponsors to sponsor the "no lightud" work on the open source OpenResty core and we are already working on it and it's expected to be out around late July (yeah, one month to go :))

[2018-06-22 21:36] vielmetti commented on #24
Doing "no lightud" would be terrific for OpenResty, and that addresses the immediate concern. Thanks for the update.

[2018-06-22 21:36] #24 closed, assigned to nobody

[2018-08-02 14:08] khasim commented on #24
@agentzh Hi, I am trying to evaluate Kong for ARMv8, which needs OpenResty with LuaJIT. If you don't mind can you please update on the lightud work ? Do we need to wait for the official OpenResty release to test this out ? Thanks.

[2018-08-09 09:08] tokers opened #25 "segmentation fault in lj_vm_growstack_f"
Hello!

We occurred a segmentation fault in LuaJIT. The backtrace is:

[code]

[code]

It seems that data inside `%rbp`  was corrupted?

[code]

We are using the asynchronous OpenSSL mode (with the dasync engine), it uses it's own co-routines. I don't know whether this can influence LuaJIT.

The segmentation fault disappeared after disabling the `SSL_MODE_ASYNC`. In addition, the frequency of this

[2018-08-09 22:09] agentzh commented on #25
@tokers LuaJIT is not multi-thread safe in general. I know very little about your setup, maybe it's using multiple OS threads. Not sure. Your backtrace looks like a stack corruption or heap corruptions. Such things are not usually debuggable without a reproducible environment.

[2018-08-10 07:05] tokers commented on #25
@agentzh

There is only one OS thread in our service.

We used the Mozilla rr recorded the crash environment, but only get a few clues.

[code]

The `%edx` was stored in `%rbp + 0x10` before calling `lj_state_growstack`. After `lj_state_growstack` was called,  address `%rbp + 0x10` isn't accessable. We set a watch point at this address:

[code]

![image](https://user-images.githubusercontent.com/1

[2018-08-10 08:42] tokers commented on #25
@agentzh

By the way, someone replied this problem in the luajit maillist: https://www.freelists.org/post/luajit/segmentation-fault-in-lj-vm-growstack-f,1.

[2018-08-14 07:51] khasim commented on #24
@agentzh @tianon Hi,

Can you please guide me on how to proceed further on this topic, I am mainly looking at getting Kong supported on ARMv8, which inturn is depending on OpenResty for ARMv8.

Thanks.

[2018-08-15 11:51] tokers commented on #25
@agentzh
Seems that the problem was fixed after we added some tricks. Thanks a lot!

[2018-08-15 11:51] #25 closed, assigned to nobody

[2018-09-24 07:44] onlynishant opened #27 "module 'table.clone' not found"
I am trying to use `table.clone` function same as your given example

[code]

but getting error:

[code]
I am running it on local VM with CentOS 6.7 kernel version: 2.6.32-573.7.1.el6.x86_64
nginx version:

[code]

[2018-09-24 10:00] onlynishant commented on #27
I upgraded to `1.13.6.2` and it's working now. I missed it in ChangeLog.

[2018-09-24 10:00] #27 closed, assigned to nobody

[2018-11-11 03:37] kn007 opened #29 "After upgrade to latest version, nginx start failed"
Compile with latest `lua-nginx-module` version and luajit v2.1-20181029.

When nginx starting, log return
[code]

`luajit2-2.1-20180420` is working fine.

[2018-11-11 05:14] agentzh commented on #29
@kn007 You compiled against OpenResty's LuaJIT, but your nginx is loaded with the wrong LuaJIT .so file at runtime. You can check it with `ldd /path/to/nginx`.

This is also why we always recommend using OpenResty's releases directly, as in

https://openresty.org/download/openresty-1.15.5.1rc0.tar.gz

[2018-11-11 05:41] kn007 commented on #29
Thank you.

[2018-11-11 05:41] #29 closed, assigned to nobody

[2018-11-15 17:15] masrourmouad opened #33 "Please add 'String.split'"

[2018-11-22 03:18] sunnybear opened #34 "symbol lookup error: undefined symbol: lua_setexdata"
Build nginx with openresty-lua module + openresty-luajit, get the following errors in logs (not sure, safe them are or not). Building with stack LuaJIT doesn't give such errors

[2018-11-22 04:07] agentzh commented on #34
@sunnybear Your nginx process loads the wrong libluajit-5.1.so at runtime. This is also why it is recommended to use OpenResty directly. Set your rpath or /etc/ld.so.conf to make your nginx find the right libluajit-5.1.so.

[2018-11-22 04:07] #34 closed, assigned to nobody

[2018-11-22 04:08] agentzh commented on #34
Or set the `LD_LIBRARY_PATH` env (not recommended though).

[2018-11-22 04:47] sunnybear commented on #34
With right LuaJIT it causes generic fault with ssl functions. Maybe additional docs from your side - how to compile Openresty Lua + Openresty LuaJIT - is required.

Openresty nginx build is too heavy for us and doesn't cover all functions, so we use custom build.

[2018-11-26 11:51] GhostZCH opened #35 "why not set "XCFLAGS+= -DLUAJIT_ENABLE_GC64" as default"
Sometimes I get "Lua VM crashed, reason: not enough memory" error when I use openresty.  Why not to turn on this switch as default?

[2018-11-27 19:05] thibaultcha commented on #33
If you are using this fork of LuaJIT, you most likely are an OpenResty user. In which case, be aware that [ngx.re.split](https://github.com/openresty/lua-resty-core/blob/master/lib/ngx/re.md#split) already exists.

I doubt we'd add a `string.split` function which would result in non-standard Lua code (granted, `table` extensions are available but for good performance reasons). There also exists pl

[2018-11-27 19:05] #33 closed, assigned to nobody

[2018-11-28 09:27] masrourmouad commented on #33
thanks

[2019-01-21 19:18] alecmuffett opened #37 "Building luajit2 on Raspbian Stretch: Error: DASM error 11001109"
Hi! I am trying to build the latest repo on Raspbian Stretch (fully up to date) and encountering this:

[code]

I'm not really sure where to go with this, I've dug into `buildvm.c` a bit, and `11001109` seems to be a complex status code returned by one of two possible  functions?

[2019-01-21 19:27] alecmuffett commented on #37
If it helps, I can/have built http://luajit.org/download/LuaJIT-2.0.5.tar.gz entirely successfully on the same machine.

[2019-01-21 19:38] agentzh commented on #37
@alecmuffett Hmm, this is strange. Will you try the v2.1 branch of the following github repo on your side please?

https://github.com/LuaJIT/LuaJIT/tree/v2.1

Please use the v2.1 branch instead of the default "master" branch.

[2019-01-21 20:53] alecmuffett commented on #37
As requested. It appears to function; log below.

[code]

[2019-01-29 10:30] xsw9527 commented on #37
**I also got this problem**
luajit2-2.1-20190115$ make clean
make -C src clean
make[1]: Entering directory `/home/xstrive/hisi/nginxrtmp_xstrivev100/luajit2-2.1-20190115/src'
rm -f luajit libluajit.a libluajit.so host/minilua host/buildvm lj_vm.S lj_bcdef.h lj_ffdef.h lj_libdef.h lj_recdef.h lj_folddef.h host/buildvm_arch.h jit/vmdef.lua *.o host/*.o *.obj *.lib *.exp *.dll *.exe *.manifest *.pdb

[2019-01-29 10:55] agentzh commented on #37
@xsw9527 Are you also on Raspbian Stretch?

[2019-01-29 11:02] agentzh commented on #37
@alecmuffett Thanks for your update.

@alecmuffett @xsw9527 What version of Raspberry Pi device are you using, respectively?

[2019-01-29 11:27] alecmuffett commented on #37
Raspbian Stretch, latest patches for everything, on a RPi3B with plenty of resources/filesystem/swap.

I am not certain that @xsw9527 is using a RPi; his prompt has a system hostname of `xstrive@xstrive-virtual-machine` so may be using a VM or Container of some kind? (Edit: I just noticed `HOST_CC="gcc -m32" CROSS=arm-hisiv100nptl-linux` which may suggest cross-compilation for ARM?)

[2019-01-29 11:43] agentzh commented on #37
@alecmuffett It'll be great if you can help pin down the guilty commit SHA1 in our repo by bisecting the commits. Maybe writing a script to automate the bisecting process.

[2019-01-29 11:44] agentzh commented on #37
@alecmuffett In the meantime, I'll try finding a RPi device so that I can actually reproduce and debug this.

[2019-01-29 11:47] alecmuffett commented on #37
@agentzh No promises, but I will have a try tonight. I am familiar with the concept, but am a Git noob (previous: svn, mercurial) so  I don't suppose you can recommend a webpage which walks through the Git workflow for bisecting?

Edit: https://git-scm.com/docs/git-bisect ?

[2019-01-29 11:50] agentzh commented on #37
@alecmuffett The `git log --oneline` command would be very helpful in getting all the commits' SHA1. And check `git checkout SHA1` where `SHA1` is the target commit's SHA1. The starting point can be any old version that works for you; the more recent, the better. It's essentially like that.

[2019-01-29 11:51] agentzh commented on #37
@alecmuffett `git bisect` is indeed better.

[2019-01-29 12:25] xsw9527 commented on #37
I am using arm based Linux,I use cross-compile tools to compile luajit in a virtual machine which running Ubuntu 14.04.

[2019-01-29 12:28] xsw9527 commented on #37
I can give you my cross-compile tools if you need,so that you can reproduce this issue easier.

[2019-01-29 12:44] xsw9527 commented on #37
I looked into the code
Found that this error came from src/host/buildvm.c
![a](https://user-images.githubusercontent.com/6812072/51909078-a1889f80-2406-11e9-9015-890e61ce4b06.png)

[2019-01-29 13:34] alecmuffett commented on #37
Bisected:

[code]

[2019-01-29 13:38] alecmuffett commented on #37
Hypothesis: this rings a bell from another issue that I logged in Nginx:

https://github.com/openresty/lua-nginx-module/issues/1423

...maybe there's a similar (but incorrect) blind assumption of 64-bit ARM behaviour in the C API code?

[2019-01-29 13:48] alecmuffett commented on #37
For convenience/confirmation, this was the last bad bisect error:
[code]

[2019-01-29 13:59] agentzh commented on #37
@alecmuffett Thanks for digging it up! I can now reproduce the error on my side with arm cross-compiling. We'll investigate it.

[2019-01-29 14:17] sparvu commented on #37
This works fine on FreeBSD 12.0 RBPI3B+ . Must be something Linux related.

* platform

[code]

* https://github.com/openresty/luajit2

[code]

* https://github.com/LuaJIT/LuaJIT/tree/v2.1 , v2.1 branch

[code]

[2019-01-29 17:53] agentzh commented on #37
Guys, will you try the following patch on your side? It seems to work fine on my side with cross-compilation (at least it builds successfully):

[code]

[2019-01-29 17:57] agentzh commented on #37
@sparvu Maybe it's specific to 32-bit arm instead of arm64...

[2019-01-29 17:58] agentzh commented on #37
@alecmuffett Show your `uname -a` output please?

[2019-01-29 17:58] sparvu commented on #37
@agentzh : ahh. right. i was thinking we are talking only for 64bit arm baords, like RBPI3B+

[2019-01-29 21:07] alecmuffett commented on #37
@sparvu - the RPi3b is a 64-bit chip, but Raspbian is a 32-bit OS because 1GB of ram is limited when running in 64-bit mode

[2019-01-29 21:22] alecmuffett commented on #37
[code]

...it compiles to completion; I can't find a test suite? (edit: though there's a curious Perl module)

[2019-01-29 22:05] sparvu commented on #37
@alecmuffett <https://github.com/alecmuffett> : greetings from Finland (old Sun PS team)

right. you are on 32bit using Raspbian. We have moved from Linux to
FreeBSD. It boots fine using RBPI3b boards in 64bit

krmx@k50dev:~ % getconf LONG_BIT
64

[2019-01-30 00:25] alecmuffett commented on #37
@sparvu I thought I recognised the name! :-)

[2019-01-30 01:20] agentzh commented on #37
@alecmuffett Good to know it compiles fine on your side with my patch. You can try running the test suite here:

https://github.com/openresty/luajit2-test-suite

BTW, the memory limit is 128TB (hence actually no limit on most, if not all systems) when building LuaJIT on arm64 because the GC64 mode is enforced on that architecture.

[2019-01-30 15:48] alecmuffett commented on #37
These are headless machines, is there a way to run tests without a GTK dependency?

[code]

[2019-01-30 20:20] agentzh commented on #37
@alecmuffett Some of the tests just manipulates the gtk 2 libraries. It does not require a desktop environment nor an X window server. I always run the tests in a headless server myself. And that github repo also runs the test suite in Travis CI, which is also a headless environment.

[2019-01-30 20:21] agentzh commented on #37
See https://github.com/openresty/luajit2-test-suite/blob/master/.travis.yml for more details.

[2019-01-30 23:00] #37 closed, assigned to nobody

[2019-01-30 23:01] agentzh commented on #37
Just for the record,  here are some details for this issue:

The original `Error: DASM error 11001109` error message is the `DASM_S_RANGE_I` error code, defined as 0x11000000 (the lower bits are the location of the offending DynASM instruction). It's usually set by the `CK` macro on the C level.

There were many offending DynASM instructions that set this `RANGE_I` error. All of them were caused b

[2019-01-30 23:01] agentzh commented on #37
Patch is already committed.

[2019-01-31 00:25] agentzh commented on #35
It is already set by default on x86_64 in OpenResty's master:

https://github.com/openresty/openresty/commit/3f42731e5

Should get included in the next OpenResty release.

[2019-01-31 00:25] #35 closed, assigned to nobody

[2019-01-31 00:30] agentzh opened #38 "Weird test failure for ARM build when running the official test suite"
When running the test file `test/misc/compare.lua` in the test suite below with the ARM hard-float build of LuaJIT,

https://github.com/openresty/luajit2-test-suite

we see the following test failure:

[code]

As we can see that the value to be checked by `< 0` is indeed negative. Disabling the JIT compiler of LuaJIT can no longer reproduce this failure. Looks like a bug in the JIT compiler.

The

[2019-01-31 00:31] agentzh commented on #37
I've already get all the tests pass with cross-compiled arm and aarch64 builds of LuaJIT on my Linux x86_64 system using qemu user mode. The only remaining issue is the failure in compile.lua for the ARM build, as mentioned above. Created issue #38 to record this.

[2019-02-04 07:12] agentzh commented on #35
You can try the following preview version NOW :)

https://openresty.org/download/openresty-1.15.8.1rc0.tar.gz

Feedback welcome!

[2019-02-04 07:24] agentzh commented on #34
@sunnybear You should first try if OpenResty works for you. Then you can check how OpenResty handle things. It's open source. Documentation is already well written here for custom build:

https://github.com/openresty/lua-nginx-module#installation

Average users may get into some pitfalls. That's why we created OpenResty in the first place. BTW, you can always add new libraries and new nginx C modu

[2019-02-04 08:48] sunnybear commented on #34
thank youm but we dont need to use OpenResty :)

[2019-02-05 01:01] agentzh opened #39 "Add a markdown README"
Let's add a `README.md` file for better documentation rendering. The original README can be left intact so that we would get less merge conflicts every time we sync with the upstream LuaJIT repo.

[2019-02-08 23:10] agentzh commented on #38
Already reported this to the luajit mailing list: https://www.freelists.org/post/luajit/JIT-compiler-bug-on-ARMv7-hf-for-LuaJIT-v21-caught-by-Mikes-test-suite

[2019-02-19 22:46] agentzh commented on #38
Confirmed by Qingjun Wei that it is also reproducible on real ARM hardware: https://www.freelists.org/post/luajit/JIT-compiler-bug-on-ARMv7-hf-for-LuaJIT-v21-caught-by-Mikes-test-suite,1

[2019-02-19 22:48] agentzh opened #40 "LuaJIT's jit.v might lead to segfaults due to buggy Lua stack traversal code"
A minimal test case that can consistently reproduce this bug can be browsed here:

https://gist.github.com/thibaultcha/09bcd6aeecd6f7d5ca6369b047e675ad

Thanks @thibaultcha for the catch.

[2019-02-26 11:07] zengjinji opened #42 "luajit Infinite loop and cpu 100%"
Centos6.5, kernel 2.6.32-754.2.1.el6.x86_64, nginx 1.14.2
luajit2-2.1-20190221,  lua-resty-core 0.1.16

behavior:
nginx cpu 100% and luajit Fall into the loop

gbd result:
[code]

LuaJIT:
[code]

nginx install:
[code]

Steps:
[code]

instructions:
    Sorry, it is difficult to occur, if I delete some code or function, it may not occur.
    a.lua and b.lua belong to company, I delete some function.

[2019-02-26 12:08] spacewander commented on #42
@zx827882285
Could you use [lbt](https://github.com/openresty/openresty-gdb-utils#lbt) to get the Lua stack?

[2019-02-26 14:46] zx827882285 commented on #42
(gdb) bt
#0  0x00000000004f503d in ctype_raw (id=0, cts=0x41221ed8) at lj_ctype.h:420
#1  lj_ccall_func (L=0x41225ce8, cd=0x4122f258) at lj_ccall.c:1148
#2  0x00000000004d1076 in lj_cf_ffi_meta___call (L=0x41225ce8) at lib_ffi.c:230
#3  0x00000000004d2fd7 in lj_BC_FUNCC ()
#4  0x000000000049bfc6 in ngx_http_lua_run_thread (L=0x41212378, r=0x243e0b0, ctx=0x243ecd8, nrets=0) at /tmp/lua-nginx-module

[2019-02-26 14:46] zx827882285 commented on #42
sure

(gdb) source luajit21.py
(gdb) lbt
builtin#176
@/usr/local/nginx/lua/resty/core/shdict.lua:333
@/usr/local/nginx/lua/test.lua:15
=content_by_lua(nginx.conf:37):5

[2019-02-26 14:49] zengjinji commented on #42
yes
(gdb) lbt
builtin#176
@/usr/local/nginx/lua/resty/core/shdict.lua:333
@/usr/local/nginx/lua/test.lua:15
=content_by_lua(nginx.conf:37):5

[2019-02-26 14:49] zx827882285 commented on #42
yes
(gdb) lbt
builtin#176
@/usr/local/nginx/lua/resty/core/shdict.lua:333
@/usr/local/nginx/lua/test.lua:15
=content_by_lua(nginx.conf:37):5

[2019-02-26 20:37] agentzh commented on #42
@zx827882285 Will you show us your `/usr/local/nginx/lua/test.lua` file?

[2019-02-26 20:41] agentzh commented on #42
Okay, never mind, I saw it is in the zx827882285/luajit-bug-report github repo.

[2019-02-26 21:10] agentzh commented on #42
@zx827882285 I just tried your luajit-bug-report repo and the steps on my side with OpenResty 1.15.8.1 RC0 on Fedora 28 x86_64 and I failed to reproduce any infinite looping no matter how hard I try:

https://gist.github.com/agentzh/85bd2c83d1c7a8badf5851268e695743

The CPU usage of the nginx or openresty worker processes dropped to 0 immediately after the wrk runs finished.

I tried both the GC64

[2019-02-26 21:12] agentzh commented on #42
@zx827882285 BTW, you should try fetching both the C and Lua backtraces at different times for the same nginx worker process that spins at 100% CPU usage forever.

So does your nginx worker processes spin at 100% CPU usage forever? Even after all wrk processes and any other traffic generators quit?

The Lua and C backtraces do not look like inside any C or Lua loops at all, which is weird.

[2019-02-27 05:02] zengjinji commented on #42
@agentzh
yes, i start two nginx worker, after wrk processes quit, only one nginx worker process spins at 100% CPU usage forever.
i try the following OpenResty 1.15.8.1 RC0 version, but can't reproduce it

In the morning, I install fedroa28 on VMware Workstation and reproduce it;
fedroa28 iso: http://mirrors.163.com/fedora/releases/28/Workstation/x86_64/iso/Fedora-Workstation-Live-x86_64-28-1.1.iso

[2019-02-27 18:52] agentzh commented on #42
OK, I can reproduce it using your `install.sh` script. BTW, it's considered bad practice to provide binary executable files like `cjson.so` in your minimal example.

You cannot reproduce it with OpenResty 1.15.8.1 RC0 just because it enables the GC64 mode in LuaJIT on x86_64 by default. If you enable that in your `install.sh`, the problem will also disappear.

If you enable internal assertions in

[2019-02-28 00:02] zengjinji commented on #42
sorry for provide binary executable files in my minimal example.
it confused me that it can't reproduce when change nginx.conf, like it.
[code]
Although I think there is no infulence.

thie problem may related to another problem, segfault in luajit.
i can't reproduce it, so i post it to  openresty geogle group.
https://groups.google.com/forum/#!topic/openresty/SKnI8kd_rdY

thank you for your exper

[2019-02-28 00:23] agentzh commented on #42
@zx827882285 I think I've already fixed it. It's a bug in LuaJIT's FFI library when handling GC. Please try the following LuaJIT patch on your side:

[code]

[2019-02-28 00:49] zengjinji commented on #42
@agentzh
thanks！
i will take this patch and try it in production environment.
it may need a few day to watch.

[2019-02-28 00:55] agentzh commented on #42
@zx827882285 BTW, this is a use-after-free kind of bug so it may lead to any weird things from infinite loop to core dumps. And that's why we hit the internal LuaJIT assertion failure before entering the infinite loop. The infinite loop happens because the ctype ID becomes zero, which is not possible for normal ctype objects at all in the first place.

Thanks a lot for that minimal and standalone

[2019-02-28 01:36] #42 closed, assigned to nobody

[2019-03-01 19:18] thibaultcha commented on #40
Closing this now that #41 has been merged

[2019-03-01 19:18] #40 closed, assigned to agentzh

[2019-03-02 20:04] #39 closed, assigned to agentzh

[2019-03-13 18:47] AlexProfi opened #44 "Processing Utf-16"
Hello
How print strings , that are in utf-16 encode
for example \U041C\U043E\U0441\U043A\U0432\U0430
I use this lib https://github.com/bungle/lua-resty-unistring
and this is my code

[code]
And I get error
unistring/str.lua:65: declaration specifier expected near ')
How to resolve it?

[2019-03-22 18:08] piotrp opened #47 "string.find returns random values"
Under some circumstances `string.find` returns random values from memory. I managed to create a short script to reproduce this issue.

Script:
[code]

Results of running this script via `luajit` program on various environments:
* Docker: openresty/openresty:1.13.6.2-xenial
[code]
* Docker: openresty/openresty:1.15.8.1rc1-0-bionic
[code]
* real system: custom build of OpenResty 1.13.6.2
[code]

Res

[2019-03-22 21:03] fsfod commented on #47
This happens with plain LuaJIT as well, only -O-fold stops it out of all the optimization levels. It looks like the wrong string pointer is being used for pointer arithmetic for the second string.find\lj_str_find result thats why your getting random values.

[code]

[2019-03-28 08:30] theoneqq opened #48 "something is wrong when using tostring method with big number"
luajit2/src/host/minlua.c:145
`#define lua_number2str(s,n)sprintf((s),"%.14g",(n))`

As illustrate blow, it makes number bigger than 10e14 to string in scientific notation format.
however, if we use the result as a parameter to call hincrby method of redis, it will cause a error, namely, the value is not a number of out of range

[2019-03-28 21:26] agentzh commented on #48
10^14 already exceeds a 32-bit integer's range and LuaJIT will store it as a double-precision floating point number. You need 64-bit integers, in LuaJIT, should use cdata instead. Like this:

[code]

Or to remove the `LL` suffix:

[code]

If you do no want to do arithmetic on the 64-bit integer values, then you should just use strings from the very beginning instead of using Lua numbers or Lua cda

[2019-03-28 21:26] #48 closed, assigned to nobody

[2019-04-01 09:34] Nayana-ibm opened #49 "CLA for openresty/luajit2"
Currently, this project doesn't appear to have a contributor licensing agreement—it isn't clear if by submitting code to this project we're giving you a license to use it, or (as is implied by the statement of copyright ownership on the github page) we're giving you the copyright, not even retaining rights to keep using it ourselves. Could you clarify that we're only giving you a license to use th

[2019-04-03 01:05] agentzh commented on #49
@Nayana-ibm Thanks for asking. For this repository, we do require the contributed code to be and always be under the same MIT license of the original LuaJIT code. You can keep the copyright of the contributed code yourself. You certainly have the right to keep using it yourselves. Please let us know if you have any further questions.

We will make it clear in the README file.

[2019-04-03 09:18] theoneqq commented on #48
openresty/bundle/lua-resty-redis/lib/resty/redis.lua
[code]
Thanks, I got it. I wander if I can modify above tostring method, instead of to distinguish common number and big number.

[2019-04-03 20:56] agentzh commented on #48
@theoneqq Better not in that redis library. It might be a good idea to simply change the LuaJIT's `tostring()` method. The `LL` suffix is indeed not very helpful usually.

[2019-04-04 07:02] theoneqq commented on #48
It's really a good idea, I will try

[2019-05-16 10:42] siddhesh commented on #38
Fix: https://github.com/siddhesh/LuaJIT/commit/24429cc95657332e3953a21581d3220884da3d75

[2019-05-23 06:21] hongpaging opened #58 "Can not install on CentOS 5.11"
Used https://github.com/openresty/luajit2/archive/v2.1-20190302.tar.gz

* uname -a

[code]

* message

[code]

Help me! Please.

[2019-05-23 07:08] hippi777 commented on #58
hi there! :)

just wild guesses, but i'd try 1st "make clean" (you will know if thats unreasonable), try it wothout "-C src" or maybe the math lib cant be found ... but it can be anything, just these came into my mind in the hope of getting a fast solution... maybe u could try the very same sources on a debian based distro or other luajit versions to close out some possibilities, otherwise i dont

[2019-05-23 07:21] siddhesh commented on #58
gcc on CentOS 5.x IIRC does not default to c99, so you might need to add -std=c99 or -std=gnu99 to XCFLAGS.

[2019-05-23 08:30] hongpaging commented on #58
@szbnwer @siddhesh

Thank everyone very much.

I succeed after added `XCFLAGS+= -std=gnu99` in `luajit2-2.1-20190302/src/Makefile`.

But, it had warning messages.
Is this ok?

[code]

[2019-05-23 17:48] hippi777 commented on #58
i think thats like a missing casting. actually i havent gone so far now that deep in reading the sources of luajit, and (currently) i only use the official 2.0.4. if others on the same branch have the same warning, then probably u can ignore it, but it can even trigger rare bugs or whatever (not as that would be special to warnings actually... :D ) in the one hand u can run the tests (dunno if the

[2019-05-23 17:58] hippi777 commented on #58
btw whats ur reason to use `make -C src` instead of `make` in the root directory? otherwise u can set variables from command line like `make XCFLAGS= -std=gnu99` (if i write it correctly) so u wont make a legacy installer for urself :) (and dont forget about `make clean` before compiling it again, if you would like to play with it...)

[2019-05-23 18:26] agentzh commented on #58
CentOS 5 reached its end of life more than 2 years ago:

https://www.centosblog.com/centos-eol-dates/

We have no reason to support it on our side either.

[2019-05-23 18:26] #58 closed, assigned to nobody

[2019-05-23 18:28] agentzh commented on #58
If one insists, he can still use a newer version of the gcc toolchain on such old systems to build without upgrading glibc.

[2019-05-31 19:24] agentzh commented on #38
@siddhesh Awesome, thanks! I'll have a look shortly. Sorry for the delay on our side.

[2019-05-31 20:20] agentzh opened #59 "Segmentation faults in Mike's test suite when running qemu-arm on x86_64"
I'm always seeing the following 2 test failures due to crashes in qemu-arm when running Mike's test suite in the openresty/luajit2-test-suite github repo with a cross-compiled build of LuaJIT (both the official v2.1 branch and our v2.1-agentzh branch):

[code]

Not sure if they are reproducible on real ARMv7hf hardware.

[2019-05-31 20:21] agentzh commented on #49
Consider it resolved.

[2019-05-31 20:21] #49 closed, assigned to nobody

[2019-05-31 20:22] agentzh commented on #38
Merged. Thanks!

@siddhesh BTW, are you seeing these test failures on real ARM hardware? Please see https://github.com/openresty/luajit2/issues/59

[2019-05-31 20:22] #38 closed, assigned to nobody

[2019-06-12 15:55] siddhesh commented on #59
I didn't see this with my fork, I'll check with openresty and report back.

[2019-06-12 15:55] siddhesh commented on #38
I saw this on real hardware as well as with qemu-arm.  I'll try to reproduce #59 with openresty.

[2019-06-13 07:56] stone-wind opened #60 "lj_str_new hash conflict is serious when length larger than 128"
![bad](https://user-images.githubusercontent.com/10290180/59416043-33fa7000-8df7-11e9-95b4-2642b4462c76.png)

**at lj_str_hash_128_above :**

[code]

1. when len is same, the `chunk_sz`, `chunk_sz_log2`, `pos1`, `pos2` are always same
2. **in loop, should we set `chunk_ptr += 2*chunk_sz`, the loop only cover half string**

when i use `sock:receive(len)`, recv the same length(527) strings which are

[2019-06-13 08:39] bungle commented on #60
Not sure if this fork wants to try this instead:
https://github.com/LuaJIT/LuaJIT/pull/294

[2019-06-13 19:03] siddhesh commented on #59
OK, so I don't see this because the misc/* tests are not run by default by the test.lua setup.  I need to fix that.

Meanwhile, I ran the tests individually with qemu-arm and saw the segfault.  I also ran wbarrier_jit.lua undner qemu-system-arm and it worked just fine.  It looks like a bug in qemu-arm, I'll dig in a bit more and report back.

[2019-06-13 23:07] dndx commented on #60
Thanks for the troubleshooting @stone-wind, it is a valid concern for your specific use case, unfortunately properly fixing it inside OpenResty would be harder.

The original string hash algorithm in LuaJIT is very fast, it has constant time complexity for strings of arbitrary length. The CRC32 variant https://github.com/openresty/luajit2 uses is intend to make hash collision *attack* harder by ra

[2019-06-14 09:02] lukego commented on #60
Just $0.02 but my intuition is that constant factors will be at least as important as asymptotic cost:

- Throughput: How many bytes can we hash per CPU cycle?
- Fixed cost: How many cycles is the per-string cost, excluding the per-byte cost?

Does anybody know what is the current state of the art hashing algorithm and how it performs in these ways? Or know what numbers would be acceptable for Ope

[2019-06-14 09:42] lukego commented on #60
Just an aside thought:

Could an interesting feature be **string creation without interning**?

I am thinking that the cost of hashing and interning strings of binary data probably outweighs the benefit. The interning would be valuable if the string were already present in the table, or was going to be used as a table key, or was going to be used for equality tests against other strings. However n

[2019-06-14 11:18] spacewander commented on #60
@lukego
Do you mean a FFI version of the cosocket API? Something like `socket:recv(bufp, len)`.
It is possible to implement `string` module equivalent with the FFI char buffer. Just do the old C job. And we can also implement a FFI version of the `ngx.re` API.

[2019-06-14 15:45] fsfod commented on #60
I already made a [string buffer](https://github.com/LuaJIT/LuaJIT/pull/88) system that works in place of strings for some of the string library functions and experimented with them pretending to be [strings object](https://github.com/fsfod/LuaJIT/compare/stringbufpr...fsfod:stringbuf/temptostr).
I also tried to [extend](https://github.com/fsfod/LuaJIT/compare/stringbufpr...fsfod:stringbuf/writemem

[2019-06-14 15:52] lukego commented on #60
That would be the direct approach and probably a better idea if it's feasible to migrate to that.

I was musing here about an indirect approach of adding a special sub-type of Lua strings that are non-interned and more suitable for binary data while mostly compatible with existing APIs. This would avoid the problem on this issue #60 because you would skip the checksum on binary network data, and t

[2019-06-14 15:53] lukego commented on #60
Cool @fsfod!

[2019-07-01 06:40] siddhesh opened #61 "Change 97369c4 is probably incorrect"
I was looking at patches to pull into stock luajit and found the following:

The change claims to remove the gcc 4.0 minimum requirement check for x86 but the check is in #if LJ_TARGET_X64, which it doesn't look right since it should not be processed for i386.

I could not find a related PR or issue for this, so can you please help me understand this change better? Thanks!

[2019-07-01 07:00] ygm521 opened #62 "can use for ARM platform?"

[2019-07-02 00:06] agentzh commented on #62
Yes, of course.

[2019-07-02 00:06] #62 closed, assigned to nobody

[2019-07-02 15:06] siddhesh opened #63 "Move openresty-specific language extensions under a special configuration?"
I was thinking of ways to incorporate the openresty-specific language extensions such as thread.exdata and the various table.* functions and it seems to me that the best way would be to put it under a conditional build flag (-DOPENRESTY_EXTENSIONS or similar).  This would be set by default in luajit2 and disabled by default in my fork.

Does that sound like a reasonable approach?  If yes then I'll

[2019-07-02 17:34] agentzh commented on #63
@siddhesh I'm fine with that though I think `LJ_OR_EXT` is a better name (shorter and more informative). And yes, `LJ_OR_EXT` should be enabled by default in this repo.

[2019-07-02 17:35] agentzh commented on #63
We may also need to adapt the openresty/luajit2-test-suite repo to support both modes similar to the existing LUA52 mode.

[2019-07-02 17:35] agentzh commented on #63
Pull requests welcome!

[2019-07-02 21:47] mhf-ir opened #64 "Openresty dosnt detect luajit2"
[code]

I use docker clean installation of ubuntu 18.04 download source package of nginx and recompile debian package via luajit2 it's seems work but why dosnt detect i use openresty/luajit2 ? It's says i use normal luajit packages.

Any guide,

Also i submit new google group to why open resty dosnt provide deb-src for ubuntu/debian packages?

[2019-07-19 11:20] ygm521 opened #68 "Can I use the standard nginx together with the luajit2.1 you maintain? thanks!"

[2019-07-19 11:20] ygm521 commented on #68
What should I pay attention to? What features have you modified?

[2019-07-19 18:22] agentzh commented on #68
@ygm521 Yes, you can. But the standard nginx core will have unfixed bugs and also be slower in some cases when be used in the OpenResty context. Some times it may have incompatibilities. You are warned.

[2019-07-19 18:23] agentzh commented on #68
We always highly recommend the use of OpenResty to avoid hitting pitfalls and wasting time on both the user side and our side.

[2019-07-19 18:23] #68 closed, assigned to nobody

[2019-07-20 15:50] sergos commented on #47
The problem is propagator (apparently - folder) makes a wrong transformation in 0072 substituting the newly created string pointer (0051) with original string [0x40002498] so that the difference between them apparently vary from run to run:

==== 0051 str SNEW [0x40002498] 0032
0052 tab FLOAD test.lua:7 func.env
0053 int FLOAD 0052 tab.hmask
0054 > int EQ 0053 +63
0055 p32 FLOAD 0052 tab.node
0056

[2019-07-20 16:12] sergos commented on #47
The culprit is **LJFOLDF(kfold_strref_snew)**
Apparently, there should be a check that the **strref (new_string, b)** is the only use of the new string.
And I'm too rookie to fix this at the moment :)

[2019-07-29 14:11] sergos commented on #47
Copied into https://github.com/LuaJIT/LuaJIT/issues/505
Proposed fix is:
[code]

[2019-08-01 17:49] agentzh commented on #47
Thank you all! We'll look into this.

[2019-08-07 17:39] thibaultcha commented on #64
Hi,

If you are sure that you are linking against openresty/luajit2, then make sure that your clone of the repository has the following commit: https://github.com/openresty/luajit2/commit/515fd8d1682caf1f0516ddcb33f97b1ae5b02590.

You should still make sure that you linked Nginx against the right LuaJIT shared lib by using `LD_DEBUG`, `ldd`, or similar, just to double check that you aren't linking

[2019-08-07 17:39] #64 closed, assigned to nobody

[2019-08-07 19:15] mhf-ir commented on #64
I will try it.

[2019-08-09 03:41] nt47 opened #71 "how to print __int64 ?"
i am thinking about using C# or luajit2 on x64 platform
but i got this problem...

![QQ截图20190809113855](https://user-images.githubusercontent.com/6474298/62752580-a0fa5100-ba9a-11e9-80e6-c2285c3cc185.png)

[2019-08-09 12:29] nt47 opened #72 "int64 result is error"
a-b=0？？？
![QQ图片20190809202854](https://user-images.githubusercontent.com/6474298/62778929-5dc4d000-bae4-11e9-826c-397a76438116.jpg)

[2019-08-09 12:49] nt47 commented on #72
how to increase size to 32 simbols?

[2019-08-09 12:50] nt47 commented on #72
hello? creators ? little bird needs you

[2019-08-09 17:11] AlexKordic commented on #72
Maybe use BigNum library? Like this one https://github.com/user-none/lua-nums ?

Really strange to post textual question using image. Distasteful.

[2019-08-12 19:16] vanc commented on #72
You can use ffi to workaround big integer issue. It should be easier than using a big number library.

9223372036854775807ULL

9223372036854775806ULL

1ULL

1ULL

1

[2019-08-12 20:07] vanc commented on #72
Actually, you don't need to use the ffi function directly. LuaJIT does the boxing/unboxing automatically. Just need to tell it's a long number by appending the "ll" modifer.

[2019-08-13 01:01] nt47 commented on #72
no, this way is not good,i just want to use int64 without ll, and can use tostring,can u tell me how to compile luajit for int64 ?

[2019-08-13 01:09] vanc commented on #72
Unfortunately, you cannot do that. Lua can only store 64-bit integers up to 2^53. With LuaJIT, it automatically boxes 64-bit values in CDATA object when it detects the "ll" or "ull" modifiers.

Don't understand your question. There is no special compile options for int64. Just use the standard source code and compile for your platform.

[2019-08-13 01:15] nt47 commented on #72
omg,i don't want to use C# to wrapper my API...

can luajit2's developer can do it ?

[2019-09-27 23:20] siddhesh opened #80 "Make luajit2 into a fully supported project with releases"
Given that the official repository for LuaJIT is now abandoned for almost a year, most people I know who are interested in the LuaJIT ecosystem are interested in seeing luajit2 become a first class project instead of a branch of LuaJIT.

To make this possible, the following goals need to be met:

1. Put the openresty extensions under an optional flag. I need to think about it more seriously and ma

[2019-10-12 10:02] stone-wind commented on #60
I have made a example _hash-test.lua_ for test:

[code]

when cnt is 2000:
[code]
when cnt is 20000:
[code]

**Obvious conflict will become more frequency  when cnt is larger. Then i change the hash function and test again:**
when cnt is 1000:
[code]
when cnt is 20000:
[code]
when cnt is 200000:
[code]

**Obvious better, you can verify it by youself. The new hash func is [wyhash](https://github.co

[2019-10-13 14:06] SoniEx2 commented on #80
If this is indeed the most active and most used fork of LuaJIT then perhaps also consider the idea of a project commit.

Ideally that project commit would go as upstream as possible, but sometimes we need to make tradeoffs. It'll mean some forks won't be able to participate but I still think this'll be a good thing, after all merging is easy.

The idea of a project commit is to group together some

[2019-11-11 11:46] SantoshMagdum opened #83 "Valgrind errors on ppc64le with gcc and clang builds"
I am trying to build Luajit on ppc64le. I had used the ppc64le supported code. The code is building without issues.
But I am seeing few failures when Valgrind is enabled with gcc or clang compiler.
I am sharing the test suit run here (removed the few test cases output which are passed to minimize log).
I checked the code but I could not notice the susceptible code line which could be causing memor

[2019-11-11 14:36] siddhesh commented on #83
I've got the ppc64le port PR #77 for luajit2 which includes some fixes on top of the ppc64le patches that were in Debian, etc. months ago.  Can you please try that?

[2019-11-12 10:45] SantoshMagdum commented on #83
@siddhesh - I tried the patch and also the build the LuaJit out of source https://github.com/siddhesh/luajit2/tree/siddhesh-luajit2-ppc64le
I was getting the Valgrind errors there as well.

Just for the reference for Valgrind errors, below are the travis ppc64le builds
        https://travis-ci.org/SantoshMagdum/luajit2/jobs/607570941
        https://travis-ci.org/SantoshMagdum/luajit2/jobs/607570

[2019-11-12 13:47] siddhesh commented on #83
Thanks for confirming.  It'll try to look into it this weekend.

[2019-12-21 12:51] msva opened #84 "Sync with upstream?"
It seems, Mike pulled some PRs, and commited some changes in 2.1 branch (well, actually, in 2.0 too) few weeks ago.
Wouldn't you pull changes here?

[2019-12-21 21:09] thibaultcha commented on #84
Sure. Please allow for some time.

[2019-12-27 00:59] exjesper opened #85 "Wrong GC64 build flag for travis"
I believe this should be `-DLUAJIT_ENABLE_GC64` not `-DLUAJIT_USE_GC64`

https://github.com/openresty/luajit2/blob/9d5750d28478abfdcaefdfdc408f87752a21e431/.travis.yml#L38

[2020-01-03 04:12] agentzh commented on #84
Already sync'd in the v2.1-agentzh branch. Sorry for the delay on our side.

[2020-01-03 04:12] #84 closed, assigned to nobody

[2020-01-06 07:58] exjesper commented on #84
Hi @agentzh, I noticed the sync reverted a bunch of other fixes but couldn't find any ticket explaining why they were reverted. Is it documented somewhere?

[2020-01-06 22:51] thibaultcha commented on #85
Hi,

Nice catch, thank you. Since GC64 is now enabled by default with https://github.com/openresty/luajit2/commit/bd00094c3b50e193fb32aad79b7ea8ea6b78ed25, I changed the tests matrix to have a non-GC64 mode instead in https://github.com/openresty/luajit2/commit/38cb695de87cfeadcba5eeaf57f39e41d529aa1f.

[2020-01-06 22:51] #85 closed, assigned to nobody

[2020-01-07 05:17] agentzh commented on #84
@exjesper Because those bugs were already fixed in (slightly) different ways in the upstream repo. I had to revert them before the merge to minimize merge conflicts.

[2020-01-08 00:33] exjesper commented on #84
OK, make sense. Thanks for the update

[2020-01-11 22:36] funny-falcon commented on #60
@lukego https://github.com/LuaJIT/LuaJIT/pull/294 is used in Tarantool's LuaJIT fork in production for several years. (Since this version of patch were created. In fact Nick - patch co-author who helped me to debug patch and suggested some improvements - were member of Tarantool core team at that moment)
https://github.com/tarantool/LuaJIT
https://tarantool.io

[2020-01-11 22:38] funny-falcon commented on #60
Hash function used in patch is not much essential. You could replace it. Main part is collision detection and switch to O(n) hashing.

[2020-01-12 09:07] agentzh commented on #60
We won't consider O(n) hashing in this branch either. I'd suggest avoid using Lua strings in the first place for large string buffers (like introducing a string.buffer builtin data structure or using FFI C buffers).

[2020-01-12 09:07] #60 closed, assigned to nobody

[2020-01-13 07:10] funny-falcon commented on #60
I mean "dynamically switch to O(n) hashing if long collision chain were detected". 99% of time hashing remains to be constant-time ( O(1) ). And only if bad things happens and a lot of strings with same hash value and length is inserted, then O(n) hashing is used only for strings with similar hash value (filtered with Bloom Filter). And if such strings collected with GC, then filter is cleared eit

[2020-01-13 07:28] agentzh commented on #60
This looks very complex and I don't think we should go down this route. My hunch is that it would be very difficult to debug when bad things happen in such a sophisticated implementation.

[2020-01-13 07:46] funny-falcon commented on #60
@agentzh did you read the patch? It is not that sophisticated.

Sorry for being noisy. I shut up myself at this point.

[2020-01-13 09:13] agentzh commented on #60
@funny-falcon Yes, I read the patch. It's quite far reaching, even touched the GC part.

[2020-01-15 05:38] XVilka commented on #80
Isn't the better course of action now switch to the [MoonJIT](https://github.com/moonjit/moonjit) instead?

[2020-01-15 09:23] XVilka commented on #63
Just an update - was done by @siddhesh in MoonJIT 2.2.0 - see "OpenResty Extensions" section in the release notes https://github.com/moonjit/moonjit/releases/tag/2.2.0

[2020-01-15 09:27] siddhesh commented on #63
Yeah those are only a subset of the extensions that I thought were safe enough (i.e. won't collide with the namespace of future lua features) to incorporate without the flag.  There are many more that need to go in under the special configuration.  I just haven't found time to do that.

[2020-01-16 02:03] agentzh commented on #63
Yes, we can go with the `OPENRESTY_EXT` macro (shorter) :)

[2020-01-16 02:17] agentzh commented on #80
@siddhesh Sorry I just saw this one. I agree with formal new releases. We'd think more about release number scheme though. We are currently using version numbers like v2.1-20190510. I'm fine with the branch changes and documentation changes you proposed. We can even have a website for it.

[2020-01-16 05:40] siddhesh commented on #80
Sounds good if you want to do a distro package for luajit2.  I'll need to check on the version numbering mechanism, since that may need to follow a specific standard; I'll let you know.

EDIT: To clarify, I am already using moonjit v2.1 as base for luajit packages since it avoids extensions and is hence close to clean luajit + bugfixes.  That is why I suggest a luajit2 package.  Alternatively, we

[2020-01-16 05:44] agentzh commented on #80
@siddhesh Sure, we can do distro package for luajit2. All our extensions can go under a build flag. No problem with that. I prefer a single branch, which makes maintenance easier.

[2020-01-16 05:50] siddhesh commented on #80
@agentzh great, so here's the plan:

1. Put all openresty extensions under a build flag
2. Merge in moonjit patches (AFAICT it's just docs and testsuite right now)
3. Use luajit2 releases as base for the Fedora luajit package with OR extensions disabled
4. Propose a new package luajit2 with OR extensions enabled

This may take a while but should give us a more long term solution.

[2020-01-16 05:58] agentzh commented on #63
Ah it seems like I proposed an even better name: `LJ_OR_EXT` :)

[2020-01-16 06:00] agentzh commented on #80
@siddhesh OK, your plan sounds good to me. It's just that the moonjit patches still need to go through the pull request/code review process before they can be merged into our repo's mainline branch :)

[2020-02-06 03:31] midorinet opened #86 "error on exdata.lua"
Hi,

I'm trying to install manually. However I keep getting error
[code]

Please kindly advice

[2020-02-06 07:07] agentzh commented on #86
@midorinet Seems like you are not using our OpenResty's LuaJIT. Check the path of the libluajit so file actually loaded into your nginx server. BTW, it's highly recommended to use our OpenResty release tarballs and/or pre-built packages to avoid such things.

[2020-02-06 07:39] midorinet commented on #86
Thanks for your advice. It's been fixed

[2020-02-08 07:23] #86 closed, assigned to nobody

[2020-03-17 08:10] NagamineLee opened #87 "some test cases can't pass in ARM, but in X86_64 is OK."
OS: centos 7.6
ARCH: aarch64(ARM)

LuaJIT compile command:

[code]

only two cases occurs exception:

[code]

[2020-03-17 22:32] agentzh commented on #87
@NagamineLee Which luajit test suite are you using? OpenResty's [luajit2-test-suite repo](https://github.com/openresty/luajit2-test-suite) passes completely on aarch64. I just tried (I make sure that after every commit myself):

[code]

Both in the valgrind test mode and the normal test mode.

[2020-03-18 02:06] NagamineLee commented on #87
Yeah, I used OpenResty's luajit2-test-suite repo and the new release of luajit, but some cases could not pass in ARM.
compile configurations has some effects?

[2020-03-18 02:23] agentzh commented on #87
@NagamineLee There are known issues which prevent the test suite from passing fully on ARMv7. But I don't see any failures on Aarch64. Also, the test suite requires Lua 5.2 compatibility support in LuaJIT. I use the following make arguments

[code]

[2020-03-18 03:12] NagamineLee commented on #87
I have tried it, but also failed.
A full test process required, like`.travis.yml`, and I will try follow your test process again.

I will also test in a new env(CentOS7.6 on ARM).

[2020-03-21 15:32] stuta opened #88 "Repo status"
There's a new version of luajit with many fixes. Is this repo maintained any more?

[2020-03-21 21:02] agentzh commented on #88
@stuta This repo is always maintained. We just didn't know there are recent new commits in the upstream repo (I see we are now about 20 commits behind). Just sync'd and rerun all our tests on x86_64, arm, and aarch64 (The arm arch still has 2 known test failures, BTW).

[2020-03-21 21:02] #88 closed, assigned to nobody

[2020-04-05 16:55] jnozsc commented on #80
Thanks for pushing on this.

Question, which project should be considered as an activity maintained alternative of `luajit`? `moonjit` or this `luajit2`?

[2020-04-06 03:00] siddhesh commented on #80
Both projects have slightly different goals.  Neither are officially blessed, so it's really your call which project you consider suitable for your needs.

luajit2, as of today, aims to stay close to LuaJIT/LuaJIT and have extensions on top that focus on openresty.

moonjit v2.1.x stays close to LuaJIT/LuaJIT and does not have openresty extensions and is strictly for those who want to stay close t

[2020-04-06 03:30] jnozsc commented on #80
Thanks.

My case is I need a stable release package for luajit 2.1 branch. Details in this ticket https://github.com/LuaJIT/LuaJIT/issues/563

Based on your comment, I would like to consider `openresty/luajit2` is the good candidate, since it will keep compatible with luajit, and I look forward a stable release of it.

[2020-04-22 01:38] amdei opened #90 "Failed test when running ffi_bit64.lua in v2.1-20200102"
Debian 10 Buster x64
[code]
On clean system:
[code]

As a result, I've got:

[code]

test/ffi/ffi_bit64.lua:18 is:
[code]

What's wrong with my setup?
How can I overcome this issue?

Actual result of this snippet:
[code]
is `0ULL`

[2020-04-22 01:46] amdei commented on #90
I've tried to add `-DLUAJIT_ENABLE_LUA52COMPAT`, as sugested in #87, but result is the same.

[2020-04-22 02:14] amdei opened #91 "Hardening build results"
Debian 10 Buster x64
[code]
Debian `hardening-check` tool complains on default build result like that:
[code]

I've tried to play with different build  options to overcome the situation:
[code]

Bright side: `hardening-check ` complains less:
[code]

Dark side: 5 tests has failed:
[code]

Is it worth to continue investigation?
Are there any chances to success?
Or such kind of hardenization contrad

[2020-04-22 04:20] agentzh commented on #91
@amdei stack-protector is never supported in LuaJIT. It's explicitly disabled in LuaJIT's own build system (including the official one). It requires extra effort to add support if not impossible.

[2020-04-22 04:50] agentzh commented on #90
@amdei I copied your shell commands and ran them on a relatively clean Debian buster x86_64 system on my side and could not reproduce the test failure you are seeing:

[code]

Will you run that `ffi_bit64.lua` file separately like above on your side?

I also tried your build flags and the same git tag (`v2.1-20200102`) on my Fedora 28 x86_64 sysetm and could not reproduce any test failures at all.

[2020-04-22 04:51] agentzh commented on #90
BTW, i'm also using the default gcc in Debian 10:

[code]

[2020-04-22 07:26] amdei commented on #90
@agentzh Thanks a lot for a prompt reply!

Seems you're right - something was wrong with my system...

Tried with other two different fresh and clean Debian 9&10 VMs.
Unable to reproduce issue on them with the script from my initial message either.

At the same time, when I try to specify `LUA52` on tests run:
[code]
it fails 7 other tests.

Tried to  specify `LUA52=1` on compile time too:
[code]

[2020-04-22 07:30] amdei commented on #90
BTW, after adding of `LUA52=1` to my initial sript:
[code]

all test has passed on machine, where they failed in the first place.

So, complete "working for me" example is the following:
[code]

[2020-04-22 07:42] amdei commented on #91
@agentzh Thanks a lot for clarification!

Ok, let's  leave stack-protector aside then.

With your generous help in #90, following configuration passed all tests on both Debian 9&10 x64 for me:
[code]

How do you think, is it safe to use it in production, aiming to embed such LuaJIT into NGINX?

[2020-04-22 14:23] edmondsw opened #92 "need ppc64le support"
There is a PR to add ppc64le support but it has been sitting without review for a long time. Please review and merge this. Thanks!

https://github.com/openresty/luajit2/pull/77

[2020-04-22 19:48] agentzh commented on #92
yeah, we'll look into it. Thanks for the reminder.

[2020-04-24 08:15] damonchen opened #93 "not correct of the isarray function example"
current isarray function example is

[code]

That is not the correct lua syntax. It should be

[code]

[2020-04-28 16:06] seth-priya commented on #92
@agentzh I have responded to your queries on https://github.com/openresty/luajit2/pull/77 , could you please have a look ? Thank you!

[2020-05-10 14:38] stuta commented on #88
Repo is again behind, there are important changes in original. Maybe setup some watcher?

[2020-05-11 05:00] agentzh commented on #88
Just sync'd. Thanks for the info.

[2020-05-14 01:17] doujiang24 commented on #93
@damonchen
thanks for your report.
this change `{"dog" = 3}` => `{dog = 3}` should be good engouh since the `()` can be ommited.
Will you help to create a PR for it? thanks :)

[2020-05-14 20:05] josephcsible commented on #93
No, it's correct the way it is now. Lua doesn't require parentheses when calling functions with a table constructor as an argument.

[2020-05-22 00:56] liutong321asd opened #96 "When a special input is constructed, the Lua engine fails to parse the input and crash."
When a special input is constructed, the Lua engine fails to parse the input and crashes.
For details about the special input, see poc1 to poc3 in the attachment.
When poc1 and poc3 are entered, a segment error occurs in the lj_str_original_hash function, resulting in crash.
When poc2 is entered, a segment error occurs after the lj_BC_JMP function is called, causing the system crash.

pls comfirm

[2020-05-22 12:29] hippi777 commented on #96
hi there! :)

are these made by lj itself, or are they made up things? in the 1st case, its a bug, in the 2nd case, dont run anything that cant be trusted, especially bytecode, as thats really not a planned use case...

[2020-05-22 12:30] hippi777 commented on #96
and in the 1st case, could u show them before compiling? :D

[2020-06-19 09:17] uttinie opened #97 "Nginx process endlessly stuck in err_unwind function causes 100% CPU"
openresty version ： openresty-1.13.6.1
error.log：nginx: lua atpanic: Lua VM crashed, reason: not enough memory
STACK1：
Traceback (most recent call last):

  File "luajit21.py", line 588, in invoke

    bt = lj_debug_dumpstack(L, 0, 30, base, full)

  File "luajit21.py", line 423, in lj_debug_dumpstack

    frame, size = lj_debug_frame(L, base, level, bot)

  File "luajit21.py", line 218, in lj_deb

[2020-06-19 09:18] uttinie opened #98 "dead loop in err_unwind() due to lj_mem_newgco() memory allocation failure"
openresty version ： openresty-1.13.6.1
perf：Stuck in err_unwind and nginx process CPU 100% higher
error.log：nginx: lua atpanic: Lua VM crashed, reason: not enough memory
STACK1：
Traceback (most recent call last):

  File "luajit21.py", line 588, in invoke

    bt = lj_debug_dumpstack(L, 0, 30, base, full)

  File "luajit21.py", line 423, in lj_debug_dumpstack

    frame, size = lj_debug_frame(L, b

[2020-06-23 12:31] stuta commented on #88
Should there be some automatic system for main repo changes?

I really like new table functions and other speed optimizations of this repo, is it possible to ask for merging them to the main repo? Is there any chance of getting them merged?

[2020-06-28 06:46] sqzwm opened #99 "using hongfuzz to fuzz luajit2.1.0-beta3，there are some crashes"
（1）lj_str_original_hash（）function has READ memory access
（2）lj_alloc_free() function has READ memory access
（3）bcread_block（）function has stack-overflow
 all seed lua file see attachment.

[bcread_block.zip](https://github.com/openresty/luajit2/files/4841794/bcread_block.zip)
[lj_alloc_free.zip](https://github.com/openresty/luajit2/files/4841795/lj_alloc_free.zip)
[lj_str_original_hash.zip](https:

[2020-07-23 15:29] Alehap opened #100 "Core dump in openresty docker container"
I've trouble with core dump recently:
`Core was generated by `nginx: worker process is shutting down                                '.
Program terminated with signal SIGSEGV, Segmentation fault.
#0  gc_traverse_frames (g=0x7f9fdfbc13e0, th=0x7f9fd7aa2f00) at lj_gc.c:283
283     lj_gc.c: No such file or directory.
[Current thread is 1 (Thread 0x7f9fdfbe1740 (LWP 3301))]`

My version nginx version:

[2020-07-23 17:23] agentzh commented on #100
Please try the latest version of OpenResty, 1.17.8.2. There've been many important bugfixes in LuaJIT since 1.15.8.1.

[2020-07-24 02:38] Alehap commented on #100
Thank you so much, I'll try your suggestion.

[2020-07-24 02:38] #100 closed, assigned to nobody

[2020-08-11 06:57] crasyangel opened #101 "Mike Pall fix some issues"
When merge?

[2020-08-11 06:57] crasyangel commented on #101
https://github.com/LuaJIT/LuaJIT/commits/v2.1

[2020-08-11 18:32] agentzh commented on #101
Yeah, we're still working on it. There are quite some merge conflicts we need to resolve.

[2020-09-16 00:17] neoxic opened #102 "luajit2 internal state corruption leads to segmentation fault"
Hello,
First of all, thank you for your brilliant work on this LuaJIT alternative!

This bug had been first reported upstream, but got rejected without explanation. Please see the following link:
https://github.com/LuaJIT/LuaJIT/issues/615

I can also see that it may be related to currently open **luajit2** issues #97 and #98, so there might be an elevated need to get it fixed as soon as possible.

[2020-09-21 09:44] honghaier250 opened #103 "segment fault core dump on mips64"
version openresty-1.17.8.2

[code]

nginx.conf
[code]

Use the following command to reproduce the problem
[code]

[2020-09-21 09:50] honghaier250 commented on #103
@lukego @leafo @ZoomQuiet @kindy  @agentzh @meathill @bungle @siddhesh

[2020-09-22 02:42] crasyangel commented on #101
Any plans?

[2020-09-22 05:40] agentzh commented on #103
@274914765 You should at least use gdb to obtain a full backtrace (via the gdb command `bt full`) from your core dump file.

[2020-09-22 05:51] msva commented on #101
Moreover, Mike added some new commits about a week ago, so, it's now more things to merge...

Although, there is nothing hard (I mean, in last-week commits)...

I tried to merge all the things, and I gave up only on merging of `lj_str.c` changes (which were about 3 months ago or so). And there is absolutelly different code...

[2020-09-22 09:48] honghaier250 commented on #103
@agentzh
[code]

[2020-09-23 06:06] agentzh commented on #103
@274914765 The crash site looks weird. Will you try the gdb command `disas` too and provide the output here?

[2020-09-23 06:07] agentzh commented on #103
Oh, and the gdb command `info reg` too.

Let's see what's happening on the machine instruction and register level.

[2020-09-23 07:48] agentzh commented on #102
@neoxic Thanks for the report. @siddhesh Will you mind having a look at this? Thanks!

[2020-09-24 08:11] honghaier250 commented on #103
[code]

[2020-10-02 01:12] #101 closed, assigned to nobody

[2020-10-02 01:14] agentzh commented on #101
BTW, the latest Mike Pall changes introduced a new regression in FFI which we are still investigating (this bug would lead to incorrect computation results). So we not done here yet...

[2020-10-02 01:18] agentzh opened #106 "A lot of tests failed on armv7 after merging #104"
I'm seeing a lot of test failures when running our openresty/luajit2-test-suite's tests after merging PR #104 .

I used to see only 2 test failures before the merge. Now there are so many:

[code]

And the tests also hang without finishing.

[2020-10-02 01:27] siddhesh commented on #106
Do you have any scripts handy to set up the test environment for this?

[2020-10-02 01:30] agentzh commented on #106
@siddhesh Yeah, I can give you access to my machine. Let's move the conversation offline.

[2020-10-02 03:38] agentzh commented on #101
Never mind, the FFI regression I mentioned above is a false alarm.

[2020-10-02 04:48] agentzh commented on #103
@siddhesh Are you familiar with mips64? Will you please shed some light on this? Many thanks!

[2020-10-02 04:58] siddhesh commented on #103
I'm afraid I've never looked at MIPS. The backtrace doesn't look like it
has anything to do with luajit unless there is code in there that affects
the `ngx_http_lua_pcre_malloc_done` call.

In any case if there is reason to believe that luajit2 is at fault, it may
be worthwhile to verify with the latest merged code to see if the problem
can be reproduced with it.

Siddhesh

[2020-10-02 05:02] agentzh commented on #103
@siddhesh Okay, thanks for your reply!

@274914765 Will you try the latest v2.1-agentzh branch of this luajit2 repo on your side?

[2020-10-02 19:15] #106 closed, assigned to siddhesh

[2020-10-08 08:14] agentzh opened #111 "The new version breaks Win64 compilation with MinGW64"
The newly ported string hashing implementation breaks the build on 64-bit Windows using MinGW64:

[code]

@siddhesh Will you have a quick look at it? Thanks!

[2020-10-09 05:37] honghaier250 commented on #103
@agentzh  I already tried the latest v2.1-agentzh branch of this luajit2, it is also segment fault

[2020-10-10 04:56] #111 closed, assigned to siddhesh

[2020-10-12 17:09] neoxic commented on #102
Please note that this has been fixed upstream. FYI https://github.com/LuaJIT/LuaJIT/issues/624

[2020-10-13 00:47] agentzh commented on #102
@neoxic I've just merged the upstream v2.1 branch into our `v2.1-agentzh` branch. Please check it out. Thanks!

[2020-10-13 00:47] #102 closed, assigned to nobody

[2020-10-23 02:59] honghaier250 commented on #103
Is there any way to solve this problem ？
@agentzh

[2020-10-26 11:56] igormunkin commented on #99
@sqzwm, thanks for your reports! Unfortunately, the attached artefacts seems to be broken (at least on my x86_64 / Linux), so I failed to reproduce the `lj_alloc_free` crash you mentioned. It would be perfect if you share either the particular Lua chunk or the recipe to find the issue via hongfuzz.

[2020-11-09 12:46] brevin-yoke opened #115 "bit.lshift limit int32"
print(2231369728 == bit.lshift(133, 24))  = false, I think it about int32_t

[2020-11-10 07:38] #115 closed, assigned to nobody

[2020-11-24 07:08] selboo opened #116 "clang: error: invalid version number in 'MACOSX_DEPLOYMENT_TARGET=11.0'"
[code]

[code]

[code]

[2020-11-24 07:36] agentzh commented on #116
@selboo Seems like your Xcode installation is messed up. See https://stackoverflow.com/questions/63972113/big-sur-clang-invalid-version-error-due-to-macosx-deployment-target

[2020-11-26 04:59] selboo commented on #116
[code]

Thank

[2020-11-26 04:59] #116 closed, assigned to nobody

[2021-01-04 12:35] fastcoding opened #117 "FFI will fail when calling C function with varadic parameters on apple silicon machine"
On my macpro book with m1 processor (arm64), the FFI call to printf will output random garbage characters for all varadic args.

[code]

Apple has mentioned the ABI difference [here](https://developer.apple.com/documentation/xcode/writing_arm64_code_for_apple_platforms#//apple_ref/doc/uid/TP40009020-SW1). I think that's the reason. Is it complicate to support this new ABI in LuaJIT?

[2021-01-08 12:54] Cynerd opened #118 "Segfault on powerpc"
I am trying to run latest v2.1-agentzh on powerpc e500v2 (with soft-float). In short my compiler command is `make HOST_CC="gcc -m32" CROSS="powerpc-unknown-linux-gnu-" TARGET_SYS=Linux TARGET_CFLAGS="-mcpu=8540 -msoft-float"`. Then running compiled `luajit` executable results in Segfault.

I tried to run it in gdb. What is weird is that it segfaults with following backtrace:
[code]
Clearly it won'

[2021-03-11 14:24] defanator commented on #92
@agentzh what's the current state with ppc64 support in LuaJIT2?

The recent code (v2.1-20190507-206-gfe08842) fails to build on ppc64le without the following patch:

[code]

But even when it builds without issues, luajit fails to start occasionally:

[code]

Plenty of memory available though:

[code]

(`ipcs` also doesn't show anything meaningful)

Target system is RHEL 7.4 (Linux 3.10.0-693.21.1

[2021-04-13 22:11] piotrp commented on #47
Seems to be fixed in current version (from OpenResty 1.19.3.1), or at least my test case passes now.

[2021-05-06 03:00] MaryWan1982 opened #121 "ppc32be soft-float ipairs crash pairs failed"
luajit2-2.1-20201027
ppc32be soft-float

1、ipairs  crash
https://github.com/openresty/luajit2/commit/2763a421d6219c8cb2bbd39246de619dc796bab6#diff-799b9b8bc55491b513dd21c26721f966261ef4c121b862327e716241ea8a4d94

|.ffunc ipairs_aux
....
lwz TMP3, 4(TMP1) -----modified to--------> lwz TMP3, WORD_HI(TMP1)     maybe   lwz TMP3, WORD_LO(TMP1)

because of it ,         for _, v in ipairs(record) do

[2021-05-26 11:37] ManirajDeivendran opened #122 "luaL_newstate() return NULL in ppc64le."
The environment is ppc64le/UBI 8.3 (RHEL 8.3 based container environment).

In fluent-bit application, luajit2 used as a filter and when creating lua context from application using  luaL_newstate() function returns the value NULL instead of lua_state* pointer which causes issue.

This is inconsistent.
Sometimes luaL_newstate() function returns lua_state* pointer.
Sometimes function returns NULL po

[2021-05-28 10:45] ManirajDeivendran commented on #122
The environment is ppc64le/UBI 8.3 (RHEL 8.3 based container environment).

Below simple program explains the function call luaL_newstate() returns NULL issue from application luajit2.

Create a simple program and link with luajit2.so (Clone luajit2 source code and build with make command).
git clone https://github.com/openresty/luajit2.git
cd luajit2/
make
cp luajit2/src/libluajit.so /usr/lib64/l

[2021-05-31 13:59] ManirajDeivendran commented on #122
1. Enable **XCFLAGS+= -DLUA_USE_ASSERT** in **luajit2/src/Makefile**.
2. Added debugs in file src/lj_state.c
[code]

Macro checkptrGC(GG) returns 0 which turns the condition (!checkptrGC(GG)) to success and returns NULL from function luaL_newstate().

For ppc64le, **LJ_GC64** is not defined and **LJ_64** is defined which redirects the next macro **checkptr31((x))**. According to the macro checkptr

[2021-05-31 14:00] ManirajDeivendran commented on #122
Hi Team,

luaL_newstate() function works properly by modifying the code as mentioned below,
[code]
Can we go ahead and create PR request for the same?

Any pointers help would be great.

[2021-06-22 19:30] lerbec4 opened #126 "Localization broken when printing numeric values"
The function that converts numeric values to a string uses a hardcoded decimal separator ('.'). The problem is this breaks localization for locales that use a comma for the decimal separator. This can be reproduced using the following Lua script:
[code]
This prints the following:
[code]
However, this should print:
[code]

[2021-06-24 01:00] zhuizhuhaomeng commented on #122
@ManirajDeivendran  would you please test the GC64 mode?
you can also see the article for the details.  https://blog.openresty.com/en/luajit-gc64-mode/

[2021-06-24 05:37] ManirajDeivendran commented on #122
@zhuizhuhaomeng,

I have tested GC64 mode by add hijack in src/lj_arch.h under PPC section,
#ifndef LUAJIT_DISABLE_GC64
#define LJ_TARGET_GC64          1
#endif

Results:
Segmentation fault (core dumped)

Any pointers help would be great. Thanks.

[2021-06-27 22:56] piotrp commented on #126
It's by design: https://github.com/LuaJIT/LuaJIT/issues/673

Direct links to documentation: https://luajit.org/extensions.html#tostring, https://luajit.org/extensions.html#tonumber

[2021-07-26 09:46] XVilka commented on #80
For anyone who will find this issue but is not aware, that [MoonJIT project is dead](https://twitter.com/siddhesh_p/status/1308594269502885889). Openresty LuaJIT2 is now being used by Linux distributions instead, for example Alpine.

[2021-08-11 12:21] Buristan commented on #117
Looks like this issue is resolved by LuaJIT/LuaJIT#695 in the upstream.

[2021-08-27 18:00] ElvinEfendi opened #130 "Segmentation fault during NGINX init worker by lua phase"
I can not consistently reproduce this, but this happens on alpine:3.13 with luajit 2.1-20201027 quite frequently when my NGINX workers starts.

[code]

[2021-08-28 00:17] doujiang24 commented on #130
It's hard to debug based on the current info. For me, I can only see it's calling by using `ffi`.

Could you provide a minimal example to reproduce it? or more other information? like, try to reproduce in other environments using Glibc instead of musl-libc.

[2021-09-14 12:19] ElvinEfendi commented on #130
agreed, just wanted to try my chances

The issue was gone after I updated our image to Alpine 3.14.2 (from 3.13), updated NGINX to the latest tested within Openresty, updated all the other lua resty modules we use.

I think we can close this now. I'll re-open with more details if the issue comes back again.

[2021-09-14 12:19] #130 closed, assigned to nobody

[2021-09-21 19:04] mhkarimi1383 commented on #86
I have the same problem followed documents by OpenResty but nothing works

[2021-10-02 18:35] 0rtz opened #131 "ppc64le build broken"
I get the following error when trying to build on ppc64le:
[code]

The last commit that i can build from is 5f1385520140ea2ece997372bf8cc1affe87c3b8 IIUC it was merged in mainline in 63dee93f4e55faf40d8d417a963cbff5ba606b3b and since then build is broken for some reason

[2021-10-10 13:52] zhuizhuhaomeng commented on #131
@0xRZ  would you please try this branch `bug_ppc`

[2021-10-10 13:53] zhuizhuhaomeng commented on #131
https://github.com/openresty/luajit2/pull/132/files

[2021-10-10 19:54] 0rtz commented on #131
@zhuizhuhaomeng Yes, it builds on bug_ppc branch successfully

[2021-10-14 06:15] #131 closed, assigned to nobody

[2021-10-14 06:15] zhuizhuhaomeng commented on #131
@0xRZ  merged

[2021-10-15 12:29] piotrp opened #134 "SIGSEGV when using ffi.string with char[?] VLA"
Reproduction case:

1. Save as _ffi_sigsegv.lua_

[code]

2. Run `docker run --rm -it -v "$(pwd):/work" openresty/openresty:1.19.9.1-buster-fat bash -c 'resty /work/ffi_sigsegv.lua; echo $?'`

Run a few times if it prints "ok", on my system it's failing nine times out of ten. I tried running it via `luajit` but then I didn't manage to make it crash.

[2021-10-15 14:59] velemas opened #136 "Link issue with lj_vm_IITERN on s390x"
After applying this PR https://github.com/openresty/luajit2/pull/135, i have a link issue on s390x:
[code]
It looks like this commit https://github.com/openresty/luajit2/commit/bb0f24101565d34ea8b70fdec4dd3f3b35a70e7b lacks the changes for s390x made for all other archs concerning vm_IITERN.

[2021-10-15 18:08] piotrp commented on #134
Maybe LuaJIT tries to initialize my array with entirety of passed data, i.e. all characters of string `str` + implicit `0x0` to terminate it? But that shouldn't be the case.

[2021-10-16 00:47] doujiang24 commented on #134
Interesting, I do think it is a bug.

[2021-10-16 11:43] doujiang24 commented on #134
Yes, you are right. It's indeed the behaviour of the official LuaJIT.

I found the source code here:
https://github.com/LuaJIT/LuaJIT/blob/v2.1/src/lj_cconv.c#L591

I have created a issue in official LuaJIT repo: https://github.com/LuaJIT/LuaJIT/issues/758
So, closing this issue.

Thanks for your report, it's interesting anyway.

[2021-10-16 11:43] #134 closed, assigned to nobody

[2021-10-19 03:40] xiaocang commented on #136
Hi @zhuizhuhaomeng Can you help with this?

[2021-10-19 14:48] zhuizhuhaomeng commented on #136
I don't think I can give you more help because I am not so familiar with this part of the code. And I do not have an s390 machine to verify.

[2021-10-19 16:23] velemas commented on #136
@zhuizhuhaomeng free community s390x VMs are available, see https://linuxone.cloud.marist.edu/#/login

[2021-10-31 05:47] kozross opened #140 "s390x - attempt to call global 'require' (a nil value)"
# Issue

This issue occurs on Alpine (specifically, in a Docker container). When I try to run a file `foo.lua` with the following code in it:

[code]

I get an error message like so:

[code]

# How to reproduce

You will need Docker available, and the daemon running.

1. Run ``docker run --privileged multiarch/qemu-user-static --reset -p yes``
2. Run ``docker run --rm -i -t s390x/alpine:latest`` t

[2021-11-02 08:24] suikabreaker opened #141 "[feature request] backport lua 5.4 generational GC"
ATT.

I'm developing using OpenResty and have put heavy logic on lua(with relatively large in-memory data and lot of string  manipulation, and a lot of functions), and I noticed that those permanent GC object also slows down GC.

If we can mannually specify object as permanent it may also be sufficient for my case.

[2021-11-02 08:27] suikabreaker commented on #141
here is an example of backporting:
https://github.com/dibyendumajumdar/ravi/issues/196

[2021-11-03 09:20] suikabreaker commented on #141
and another example(for manully disable GC for specified object):
https://yuerer.com/Lua-GC%E5%9E%83%E5%9C%BE%E5%9B%9E%E6%94%B6%E4%BC%98%E5%8C%96%E6%96%B9%E6%A1%88/

[2021-12-23 20:53] low-batt opened #145 "Code Signature Invalid crash using com.apple.security.cs.allow-jit"
In this Apple forum thread: [App not launching after signing with hardened runtime](https://developer.apple.com/forums/thread/132109), Apple developer relations says:

[IINA](https://github.com/iina/iina) is using the OpenResty LuaJIT library and using that entitlement resulted in "Code Signature Invalid" crashes as reported in IINA issue https://github.com/iina/iina/issues/3551

The problem appea

[2021-12-30 01:34] 0rangeFox opened #146 "LuaJIT Compiler - Getting wrong bytecode when JIT is off."
Hey guys, I would like to know how I can compile to bytecode via C, but I don't want to with JIT. I have tried several ways to disable JIT, but it still seems to be always on.

I have this snippet code to work with Lua C.
[code]

And the bytecode result I get is:
![image](https://user-images.githubusercontent.com/38193239/147714533-e213349d-c305-43c6-b99c-afb3ed7ec926.png)

And if I do with the co

[2022-01-07 17:59] XmiliaH commented on #146
The generated bytecode from LuaJIT is not compatible with Lua. From https://luajit.org/extensions.html#string_dump
_Foreign bytecode (e.g. from Lua 5.1) is incompatible and cannot be loaded._
To generate bytecode for Lua as luac does one needs to use the PUC Lua library instead of the LuaJIT one.

[2022-01-08 15:34] zhuizhuhaomeng commented on #146
we usually use `luajit -bg  x.lua x.ljbc` to convert Lua to bytecode.
I think luajit can not generate bytecode compatible with luac.

[2022-01-11 19:58] 0rangeFox commented on #146
Hey guys, as he said, LuaJIT bytecode isn't compatible with Lua and won't compile for Lua. But I'm disabling LuaJIT so it's suppose to use Lua, right? Could you tell me more about PUC Lua Library? Thanks.

[2022-01-11 20:18] XmiliaH commented on #146
There are two totally different Lua implementations. LuaJIT and PUC Lua (can be found here https://www.lua.org/versions.html). These are two libraries both implementing Lua and the Lua C API but use different internals. This means that when disabling the JIT in LuaJIT one still uses LuaJIT but with the JIT disabled. Disabling the JIT will not switch to a different library (PUC Lua). To use PUC Lua

[2022-01-18 23:38] #146 closed, assigned to nobody

[2022-02-18 13:43] XmiliaH opened #147 "Invalid HSTORE elimination over nkeys and clone"
It is possible that a `HSTORE` before a call to `table.nkeys` or `table.clone` is eliminated by a `HSTORE` after said functions resulting in wrong results.

This is demonstrated by the following example which should print `0 nil` but the actual output is `1 99999`.

[code]

[2022-02-18 18:48] agentzh commented on #147
@XmiliaH Thanks for the report! We'll look into this. It seems like the optimizer needs to be aware of the nkeys IR.

[2022-02-18 18:57] XmiliaH commented on #147
I think the problem is in `lj_opt_dse_ahstore` and can be fixed with:
[code]

[2022-02-21 07:03] zhuizhuhaomeng commented on #147
@XmiliaH  would you please create a PR for this issue?

[2022-03-02 21:40] vinipsmaker opened #149 "__gc metamethod not being called on lua_close() on windows builds"
Hi, I'm using openresty's fork of luajit on windows builds for this project: https://gitlab.com/emilua/emilua

And some tests are failing. Upon further investigation I've noticed the `__gc` metamethod is not being called to finalize my userdatas. The Linux behaviour is correct, but it fails on Windows.

Please let me know if there's any info I can provide to help.

[2022-03-03 02:18] vinipsmaker commented on #149
Nevermind. I just realized I had to compile the project with `/EHa` on Windows.

[2022-03-03 02:18] #149 closed, assigned to nobody

[2022-03-04 05:09] ganl opened #150 "Vulnerability scan detects many CVE vulnerabilities"
![13a5085214c2050331271d7ffbedc76](https://user-images.githubusercontent.com/11937688/156703067-b714bf37-0955-467f-a40c-1ff408dfec70.png)

[2022-03-05 03:11] zhuizhuhaomeng commented on #150
thank you for your report.
Can you please tell us how to check if all the CVE has been fixed?

[2022-03-05 04:03] ganl commented on #150
The vulnerability is scanned by the binary inspection tool, the affected component is lua 5.1, but this[ issue](https://github.com/Kong/kong/issues/7526) says that luajit is not affected.

![image](https://user-images.githubusercontent.com/11937688/156866919-4a5b351f-a20f-4456-8642-a0a22d0fd61d.png)

Same CVE:
https://nvd.nist.gov/vuln/detail/CVE-2020-15888
https://nvd.nist.gov/vuln/detail/CVE-202

[2022-03-06 13:43] #147 closed, assigned to nobody

[2022-03-15 08:39] #136 closed, assigned to nobody

[2022-03-18 11:58] lison0322 opened #152 "MIPS environment has a bug in version 20220310"
ARCH：mipsel
Hardware:  MT7621
Kernel:  5.10
GCC: 8.4.0
SDK：openwrt master
Problem version:  luajit2-20220310
Normal version: luajit2-20220309

Example:
[code]

Result:
[code]

[2022-03-19 03:10] zhuizhuhaomeng commented on #152
@lison0322  please report the bug to upstream luajit   https://github.com/LuaJIT/LuaJIT

[2022-03-20 02:29] #152 closed, assigned to nobody

[2022-03-28 04:09] Summer-Time-2020 commented on #141
I have the same problem

[2022-03-29 09:44] RocFang opened #153 "pcall problem when calling require"
Hello!

Tipically, for versions compatibility consideration, we could use pcall to catch exception of require.

But I have found a strange luajit problem when using pcall and require, especially when ffi involves.

**Minimum reproduction configuation:**

1. conf/nginx.conf

[code]

2. lua/a.lua

[code]

**Expectation:**

Since a.lua contains a non defined xxxx ffi function, I expect everytime we c

[2022-03-29 10:39] zhuizhuhaomeng commented on #153
try with the 1.21.4.1rc2，

[code]

[2022-03-29 10:42] RocFang commented on #153
@zhuizhuhaomeng  Thanks! so it's a resolved known issue right?

[2022-03-29 10:44] RocFang commented on #153
@zhuizhuhaomeng  more interesting...

[2022-03-29 10:49] zhuizhuhaomeng commented on #153
I think it is resolved, but I don't will PR resolve this  issue.

[2022-03-29 11:13] RocFang commented on #153
@zhuizhuhaomeng  ha..  I have tried 1.21.4.1rc2 righ now, but the log if diffirent with yours:)

[code]

Do you mean it's resolved in master?

[2022-03-29 11:21] zhuizhuhaomeng commented on #153
sorry, When I copy the Lua code and paste it into the file,  "local" becomes "cal".
The bug still exists.

[2022-03-29 11:23] RocFang commented on #153
got it:)

[2022-03-29 11:35] zhuizhuhaomeng commented on #153
run with luajit directly, the error is below.
This may be the right error.
[code]
replace the ngx.print with print

[2022-03-29 13:58] zhuizhuhaomeng commented on #153
@XmiliaH would you please have a look at this?

[2022-03-29 14:00] zhuizhuhaomeng commented on #153
I don't why the second pcall(require, "a") do not enter into the function lj_cf_package_require.

[2022-03-29 14:04] zhuizhuhaomeng commented on #153
I am sure it is a bug of the openresty.
but I don't know how to debug.

[2022-03-29 20:43] XmiliaH commented on #153
Yes. It is an openresty problem as it replaces [require](https://github.com/openresty/lua-resty-core/blob/985eb5b323468effaa66deb5cbd4f800b99834cf/lib/resty/core/base.lua#L74) with a version that does not check for [KEY_SENTINEL](https://github.com/openresty/luajit2/blob/673aaad81ddd488a310b9521210906d7cc75295a/src/lib_package.c#L438).

[2022-03-30 00:14] zhuizhuhaomeng commented on #153
Thank you. @XmiliaH   Would you please share the debug process?

[2022-03-30 06:50] XmiliaH commented on #153
First I looked at the `lj_cf_package_require` and found KEY_SENTINEL. I the compared this value to the reported return value of `-5.6817549271743e-322` which was the case. I then checked if there is a way that `lj_cf_package_require` might return that value but found none. I then reduced the test to:
[code]
which showed that there is no problem with `pcall`. Instead it seems that the `require` fun

[2022-04-05 12:44] #153 closed, assigned to nobody

[2022-04-06 12:35] maximegmd opened #156 "minilua android build"
Hi,

I am trying to build the project for multiple platforms, everything works fine except for android, minilua includes limits.h that itself includes a header that does not exist in NDK.

https://stackoverflow.com/questions/52196472/using-ubuntu-header-lib-in-android-ndk

[2022-04-06 20:13] fsfod commented on #156
minilua is only needed in the build system because the host system might not have a Lua interpreter installed, the makefile can be set to use a system provided one with the HOST_LUA make variable.

[2022-04-07 13:06] maximegmd commented on #156
Thanks, that makes sense!

[2022-04-07 13:06] #156 closed, assigned to nobody

[2022-05-21 00:39] fairyqb opened #158 "lj_str_new and lj_tab hashkey CPU 100%"
lj_str_new CPU 100% only in one core
![8822e63e0876e34cc52f2431ad8318b](https://user-images.githubusercontent.com/69657117/169629429-b3eacd2a-efdb-4899-9e79-7225308d8091.png)

 large number of strings longer than 128 in the mlcache cache. biz logic necessity

**Flame Graph:**

![image](https://user-images.githubusercontent.com/69657117/169627048-8ffa7e1d-4e48-4d98-978d-2ef98d56eb51.png)

**Perf Da

[2022-05-21 06:11] agentzh commented on #158
Your C backtrace is incomplete. Needs [OpenResty XRay](https://openresty.com/en/xray/) to get the full backtraces and flame graphs. OpenResty XRay can also get Lua-land flame graphs, which will be more helpful for profiling and analyzing this issue. Probably just bad Lua code on your side.

Your information above is not really helpful, unfortunately.

[2022-05-22 23:01] fairyqb commented on #158
new flame graphs:

![image](https://user-images.githubusercontent.com/69657117/169719658-471dfb53-28c3-4081-8563-27351d888fbf.png)

![image](https://user-images.githubusercontent.com/69657117/169719674-c39d375f-a961-4f4a-bf42-2c22a675f81a.png)

[2022-05-23 11:23] zhuizhuhaomeng commented on #158
How long will cpu 100% last?
I think you need to tweak the hash size of the mlcache with table.new(narray, nrecord)

[2022-05-27 14:47] fairyqb commented on #158
![image](https://user-images.githubusercontent.com/69657117/170722241-7e93c72b-b28e-42a5-9208-701f07eb9434.png)

lasts many days
mlcache.lua  set LRU_SIZE = 512000

[2022-05-30 02:29] zhuizhuhaomeng commented on #158
Which version of openresty are you using？
Which OS are you running on?
Can you provide a reproducible test case?

[2022-05-31 03:42] fairyqb commented on #158
openresty   version :
[v2.1-20180420](https://github.com/openresty/luajit2/releases/tag/v2.1-20180420)

OS :
Linux MY_011 3.10.0-1062.18.1.el7.x86_64

The new luajit version has fixed this, is testing it and seems to be working fine

[2022-05-31 04:15] zhuizhuhaomeng commented on #158
That's great!

[2022-05-31 13:57] kollol-chowdhury-incontact opened #159 "nginx: lua atpanic: Lua VM crashed, reason: not enough memory"
Hi Team,

We are using Kong 2.7.1 , and we are getting this error: "nginx: lua atpanic: Lua VM crashed, reason: not enough memory".

Want to know how much memory is allocated to Lua VM and how do we check that.

Kong 2.7.1 uses OpenResty 1.19.9.1

TIA

[2022-06-01 14:04] zhuizhuhaomeng commented on #159
@kollol-chowdhury-incontact  you can use  resty-memory analyzer from https://xray.openresty.com

[2022-06-01 14:06] kollol-chowdhury-incontact commented on #159
Hi @zhuizhuhaomeng : Thanks for the reply. I believe this is a paid tool and it asks for OpenResty credentials which I don't have.

[2022-06-01 16:06] zhuizhuhaomeng commented on #159
yes, it is a paid tool.
You can apply for a trial

[2022-06-09 07:09] fairyqb opened #175 "upgrading the luajit the CPU increased by 20% ，performance drop"
client:
ab -n10000000 -c40 -k http://www.hello.com/

server:
openresty-1.13.6.2
LuaJIT-2.1-20180420
some lua scripts

upgrading the luajit version to luajit2-2.1-20220411 , the CPU increased by 20%,  QPS and response time did not change（compared to the old luajit version）

[2022-06-09 08:28] fairyqb commented on #175
FlameGraph c-on-cpu.cbt
![c-on-cpu](https://user-images.githubusercontent.com/69657117/172801540-05f4e8dd-3012-4224-aba2-5355a20de659.svg)
[c-on-cpu.bt.txt](https://github.com/openresty/luajit2/files/8868433/c-on-cpu.bt.txt)
[c-on-cpu.svg.txt](https://github.com/openresty/luajit2/files/8868449/c-on-cpu.svg.txt)

Remove file suffixes .txt

@agentzh  @siddhesh @zhuizhuhaomeng @doujiang24

thanks

[2022-06-09 09:25] fairyqb commented on #175
![image](https://user-images.githubusercontent.com/69657117/172813952-e52f2584-dd42-454f-b46c-3246fbad334b.png)

From the graph above, I suspected that the lj_BC_TGETS was the underlying cause of problem ,however ,there is little information except lj_BC_TGETS ,moreover, we don't know much about lj_BC_TGETS behind the screen, any ideas?

lj_bc.h
lj_BC_TGETS is a field or method access in the inter

[2022-06-14 09:51] zhuizhuhaomeng commented on #175
which luajit version did you upgrade from?  @fairyqb

[2022-06-27 12:08] fairyqb commented on #175
upgrade  LuaJIT-2.1-20180420 to luajit2-2.1-20220411 @zhuizhuhaomeng

[2022-07-02 02:58] zhuizhuhaomeng commented on #175
@fairyqb  would you please use the lj-lua-on-cpu in OpenResty XRay to profile your process?

[2022-07-05 14:09] Bisht13 opened #176 "Math functions not working on s390x"
Functions such as math.floor(), math.ceil() are not working as intended on s390x.

Example,
 Currenty: The first row is input for floor function and second row is the output
![image](https://user-images.githubusercontent.com/44467788/177347048-cade26b8-bacc-4fdc-8fee-b99d69f4037f.png)

Intended:
![image](https://user-images.githubusercontent.com/44467788/177347238-6001d797-4e48-4dad-82cd-3a411d079

[2022-07-08 05:46] Bisht13 opened #178 "Tests failing for s390x"
Tests like `iter-bug.lua` and `jit_record.lua` are failing and giving the following error from the [test suite](https://github.com/openresty/luajit2-test-suite).

[code]

From the [documentation of LuaJIT](https://luajit.org/ext_jit.html), `the module is built-in and optimization is turned on by default!`

This is true as well from the following results (this is compared after commenting out `requ

[2022-07-08 06:36] Bisht13 opened #179 "Too many callbacks in s390x"
Tests like `ffi_enum.lua` and `ffi_callback.lua` are failing and giving the following error from the [test suite](https://github.com/openresty/luajit2-test-suite).

[code]

It's failing even with 1 callback.

[2022-07-08 06:44] Bisht13 commented on #179
Is callback even implemented for s390x?
![image](https://user-images.githubusercontent.com/44467788/177932894-fc342efd-cfab-4098-9bb9-0ca67e615c8a.png)

[2022-07-08 10:23] fairyqb commented on #175
results are similar to stapxx

[2022-07-08 10:23] fairyqb commented on #175
results are similar to stapxx

[2022-08-30 08:11] zhuizhuhaomeng opened #181 "iterate over non-empty table got empty"
The original issue was reported in google group.

https://groups.google.com/g/openresty-en/c/4DXfmYSU7Jo/m/bUajTOB0AQAJ?utm_medium=email&utm_source=footer

i am testing my proxy server by new version of openresty (1.21.4), and i have a big problem
in load test
my nginx config just :worker 1;
and i have some code like this:
[code]

[2022-08-30 08:13] zhuizhuhaomeng commented on #181
@XmiliaH  would you please have a look at this issue?

[2022-08-30 09:48] XmiliaH commented on #181
I would say this might be fixed in https://github.com/LuaJIT/LuaJIT/commit/32984282ddae666b3c94cd27538e1c78b49a1877.

[2022-08-30 13:01] zhuizhuhaomeng commented on #181
thank you

[2022-08-31 11:13] #176 closed, assigned to nobody

[2022-09-17 16:13] ganl opened #185 "loongarch64, lj_arch.h:73:2: error: #error "No support for this architecture (yet)""
openresty-1.21.4.1/build/LuaJIT-2.1-20220411/src”
lj_arch.h:73:2: error: #error "No support for this architecture (yet)"
 #error "No support for this architecture (yet)"
  ^~~~~

[root@localhost build]# uname -a
Linux localhost.localdomain 4.19.90-23.19.v2101.a.ky10.loongarch64 #1 SMP Mon Sep 13 22:33:20 CST 2021 loongarch64 loongarch64 loongarch64 GNU/Linux

[2022-09-18 12:03] spacewander commented on #185
loongarch64 is not supported by LuaJIT yet.

[2022-09-18 14:50] ganl commented on #185
https://github.com/LuaJIT/LuaJIT/pull/875

[2022-10-13 07:28] ambujkumar3 opened #186 "Tests failing for ppc64le"
Test failing on ppc64le, when i have tested with luajit2-test-suite using luajit

[root@2092f12255fb luajit2-test-suite]# gdb --args luajit test/misc/tonumber_scan.lua

Starting program: /usr/local/bin/luajit test/misc/tonumber_scan.lua

Program received signal SIGSEGV, Segmentation fault.
0x00000000000030e8 in ?? ()
Missing separate debuginfos, use: yum debuginfo-install glibc-2.28-189.5.el8_6.pp

[2022-10-18 03:23] sophie-zhao commented on #185
We have rasied a PR for LoongArch64 in openresty/luajit2, see https://github.com/openresty/luajit2/pull/187

[2022-11-10 09:24] xiangnanscu opened #188 "unexpected index -1 comes up when copy a table with only one element"
For me, this bug happens in my company computer `resty` command (Intel(R) Celeron(R) J4125 8GB ram win10x64 + wsl2 ubuntu 20.04+openresty 1.21.4 install from official apt)

It should be a luajit related bug because when I turn jit off for resty, there's no bug:
[code]

BUG machine info:

设备名称	DESKTOP-S3UK088
处理器	Intel(R) Celeron(R) J4125 CPU @ 2.00GHz   2.00 GHz
机带 RAM	8.00 GB (7.85 GB 可用)

test.l

[2022-11-10 09:27] xiangnanscu commented on #188
test envoriment: wsl2 Ubuntu 20.04

[2022-11-10 09:30] xiangnanscu commented on #188
another strange thing is snippet
[code]
won't be triggered in the test. but the `c.cond[-1]` is accessible in the main function

[2022-11-10 09:56] xiangnanscu commented on #188
This maybe a `resty` command related bug, because when I use luajit or lua directly, no bug:
[code]

[2022-11-26 00:36] wymhuster commented on #60
[code]
every loop just move one chunk，it's a bug here?

[2022-11-26 00:42] wymhuster opened #189 "hash_128_above can only cover half string for hash compute"
[code]
every loop just move one chunk，it's a bug here? the loop only cover half string
should we set chunk_ptr += 2*chunk_sz
#60

[2022-11-26 01:02] wymhuster commented on #189
@zhuizhuhaomeng  @agentzh